.movie-detail {
  display: flex;
  margin-bottom: 30px;
}

.poster {
  max-width: 323px;
  margin-right: 58px;
}

.title {
  position: relative;
}

.vote-average {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 18px;
  transform: translateY(-50%);
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 50%;
}

.genres {
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.5;
}

.genres,
.release-year-and-runtime {
  margin: 0 0 30px 0;
}

.release-year-and-runtime span {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f65261;
}

.release-year {
  margin-right: 50px;
}

.overview {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
