.heading {
  margin: 0 0 38px 0;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  line-height: 49px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .sub-header {
    padding-left: 60px;
    padding-right: 60px;
  }
}
