.label {
  margin-right: 31px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
}

.select {
  padding: 2px 19px 2px 0;
  background-color: #232323;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  appearance: none;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' fill='none' xmlns:v='https://vecta.io/nano'%3E%3Cpath fill-rule='evenodd' d='M1.173 0a1 1 0 0 0-.759 1.651l3.824 4.463a1 1 0 0 0 1.519 0l3.828-4.463A1 1 0 0 0 8.825 0H1.173z' fill='%23f65261'/%3E%3C/svg%3E");
}

.select::-ms-expand {
  display: none;
}

.select,
.select option {
  border: none;
  outline: none;
}
